# Google Cloud Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT
GOOGLE_CLOUD_LOCATION=YOUR_REGION
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
USER_ID=user.id
TOKENIZERS_PARALLELISM=TRUE